.navTitles{
  font-size: 30px;
}
.ubuntu-sans {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
.currentPage{
  font-weight: 600;
}
.jumbotron1{
  background-image: url(photos/tortilla_image.avif);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 275px;
  color: whitesmoke;
}
.jumbotron1TextBg{
  background-color: rgba(0, 0, 0, 0.75);
  position: relative;
  bottom: 75px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 200;
}
.jumbotron1Text{
  color: whitesmoke;
}
.whiteText{
  color:whitesmoke;
}
.blackText{
  color: black;
}
.bg-foot{
  padding: 5px;
  background-color: black;
  color: whitesmoke;
}
.tecaheader{
  color: #171A21
}
.tecastory{
  color: #191516;
}
.tecaname{
  color: 011627
}
.cardStyle{
  width: 18rem;
}
.btnStyle{
  width: 100%;
  height: 4rem; 
  background-color: #efa165;
}
.btnStyle:hover{
  background-color: #ff6d00;
}
#active{
  background-color: #ff6d00;
}
.btnMargin{
  margin-top: 5px;
  margin-bottom: 5px;
}
.ubuntu-sans-btn {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: large;
}
.iconHeight{
  width: 50px;
  height: 50px;
}
.navbarRight{
  position: absolute;
  right: 20px;
}
.dish1{
  width: 100%;
}