.navTitles{
  font-size: 30px;
}
.ubuntu-sans {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
.currentPage{
  font-weight: 600;
}
.jumbotron1{
  background-image: url(photos/tortilla_image.avif);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 275px;
  color: whitesmoke;
}
.jumbotron1TextBg{
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  opacity: 0.5;
  position: relative;
  bottom: 75px;
  padding: 5px;
  border-radius: 20px;
}
.jumbotron1Text{
  color: whitesmoke;
  opacity: 1;
}
.whiteText{
  color:whitesmoke;
}
.blackText{
  color: black;
}
.bg-foot{
  padding: 5px;
  background-color: black;
  color: whitesmoke;
}
.tecaheader{
  color: 5F5B6B}
.tecastory{
  color: B5BAD0
}
.tecaname{
  color: 011627
}
