.navTitles{
    font-size: 30px;
}
.ubuntu-sans {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.currentPage{
    font-weight: 600;
}
.bg-img {
    background-image: url(photos/tortilla_image.avif);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 250px;
    color: black;
  }
  .bg-nav{
    background-color: black;
  }